*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: dimgray
}
.contenedorN {
    width: 100%;
    border: 2px solid rgba(255, 255, 255, 0.8);
    border-radius: 5px;
}
.contenedorlog{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    background-image: url("../imagenes/fondojapo2.jpg");
    background-position: center;
    background-size: cover;
}
.login{
    width: 80%;
    border: 3px solid white;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.5);
}
.login h2{
    font-family: comic1;
    font-size: 30px;
    margin-bottom:15px; 
    color: navy;
}
.login img{
    width: 35%;
    border: 5px solid white;
    border-radius: 50%;
    margin-top: -80px;
    margin-bottom:25px; 
}
.formulario{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}
.direccion{
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
}
.formulario label{
    font-size: 12px;
    width: 50px;
    height: 35px;
    border: 1px solid white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: cornflowerblue;
}
.formulario form{
    width: 100%;
}
.formulario .txt{
    border: 0;
    box-shadow: 0;
    height: 35px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    width: 100%;
    font-family: comic1;
    border: 2px solid white;
    padding: 0 5px;
    transition: all 300ms ease;
}
.formulario .txt:focus{
    outline: 0px;
    background-color: rgba(255, 255, 255, 0.6);
    border: 2px solid rgba(255, 255, 255, 0.1);
}
.formulario a{
    color: navy;
    text-decoration: none;
    font-size: 18px;
}
.formulario a:hover{
    color: rgb(14, 14, 216);
    text-decoration: underline;
}
.boton{
    display: flex;
    justify-content: center;
}
button{
    height: 40px;
        width: 180px;
        padding: 8px;
        border-radius: 5px;
        border: 0;
        font-family: comic1;
        font-size: 15px;
        color: white;
        background-color: #0d47a1;
        margin: 10px;
}
button:hover{
        background-color: #14c5f1;
        color: black;
}
@media only screen and (min-width:600px){
    .col-t-1{width: 8.33%;}
    .col-t-2{width: 16.66%;}
    .col-t-3{width: 25%;}
    .col-t-4{width: 33.33%;}
    .col-t-5{width: 41.66%;}
    .col-t-6{width: 50%;}
    .col-t-7{width: 58.33%;}
    .col-t-8{width: 66.66%;}
    .col-t-9{width: 75%;}
    .col-t-10{width: 83.33%;}
    .col-t-11{width: 91.66%;}
    .col-t-12{width: 100%;}
    /**/
    .contenedorlog{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 600px;
        background-image: url("../imagenes/fondojapo2.jpg");
        background-position: center;
        background-size: cover;
    }
    .login{
        width: 75%;
        border: 3px solid white;
        border-radius: 15px;
        background-color: rgba(255, 255, 255, 0.5);
    }
    .login h2{
        font-family: comic1;
        font-size: 30px;
        margin-bottom:15px; 
        color: navy;
    }
    .login img{
        width: 40%;
        border: 5px solid white;
        border-radius: 50%;
        margin-top: -70px;
        margin-bottom:25px; 
    }
    .formulario{
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
    }
    .direccion{
        display: flex;
        flex-direction: row;
        margin-bottom: 25px;
    }
    .formulario label{
        font-size: 12px;
        width: 50px;
        height: 35px;
        border: 1px solid white;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        background-color: cornflowerblue;
    }
    .formulario form{
        width: 100%;
    }
    .formulario .txt{
        border: 0;
        box-shadow: 0;
        height: 35px;
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0.1);
        width: 100%;
        font-family: comic1;
        border: 2px solid white;
        padding: 0 5px;
        transition: all 300ms ease;
    }
    .formulario .txt:focus{
        outline: 0px;
        background-color: rgba(255, 255, 255, 0.6);
        border: 2px solid rgba(255, 255, 255, 0.1);
    }
    .formulario a{
        color: navy;
        text-decoration: none;
        font-size: 18px;
    }
    .formulario a:hover{
        color: rgb(14, 14, 216);
        text-decoration: underline;
    }
    .boton{
        display: flex;
        justify-content: center;
    }
    button{
        height: 40px;
        width: 180px;
        padding: 8px;
        border-radius: 5px;
        border: 0;
        font-family: comic1;
        font-size: 15px;
        color: white;
        background-color: #0d47a1;
        margin: 30px;
    }
    button:hover{
            background-color: #14c5f1;
            color: black;
    }
}
@media only screen and (min-width: 768px){
    .col-1{width: 8.33%;}
    .col-2{width: 16.66%;}
    .col-3{width: 25%;}
    .col-4{width: 33.33%;}
    .col-5{width: 41.66%;}
    .col-6{width: 50%;}
    .col-7{width: 58.33%;}
    .col-8{width: 66.66%;}
    .col-9{width: 75%;}
    .col-10{width: 83.33%;}
    .col-11{width: 91.66%;}
    .col-12{width: 100%;}
    /**/
    .contenedorlog{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 600px;
        background-image: url("../imagenes/fondojapo2.jpg");
        background-position: center;
        background-size: cover;
    }
    .login{
        width: 50%;
        border: 3px solid white;
        border-radius: 15px;
        background-color: rgba(255, 255, 255, 0.5);
    }
    .login h2{
        font-family: comic1;
        font-size: 30px;
        margin-bottom:15px; 
        color: navy;
    }
    .login img{
        width: 25%;
        border: 5px solid white;
        border-radius: 50%;
        margin-top: -80px;
        margin-bottom:25px; 
    }
    .formulario{
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
    }
    .direccion{
        display: flex;
        flex-direction: row;
        margin-bottom: 25px;
    }
    .formulario label{
        font-size: 12px;
        width: 50px;
        height: 35px;
        border: 1px solid white;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        background-color: cornflowerblue;
    }
    .formulario form{
        width: 100%;
    }
    .formulario .txt{
        border: 0;
        box-shadow: 0;
        height: 35px;
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0.1);
        width: 100%;
        font-family: comic1;
        border: 2px solid white;
        padding: 0 5px;
        font-size: 20px;
        transition: all 300ms ease;
    }
    .formulario .txt:focus{
        outline: 0px;
        background-color: rgba(255, 255, 255, 0.6);
        border: 2px solid rgba(255, 255, 255, 0.1);
    }
    .formulario a{
        color: navy;
        text-decoration: none;
        font-size: 18px;
    }
    .formulario a:hover{
        color: rgb(14, 14, 216);
        text-decoration: underline;
    }
    .boton{
        display: flex;
        justify-content: center;
    }
    button{
        height: 40px;
            width: 180px;
            padding: 8px;
            border-radius: 5px;
            border: 0;
            font-family: comic1;
            font-size: 15px;
            color: white;
            background-color: #0d47a1;
            margin: 30px;
    }
    button:hover{
            background-color: #14c5f1;
            color: black;
            cursor: pointer;
    }
}
